@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

:root {
    --bg-dark: #121212;
    --text-main: #ffffff;
    --text-dim: rgba(255, 255, 255, 0.5);
    --accent-purple: #b084cc;
    --tag-color: rgba(255, 255, 255, 0.15);
    --transition-smooth: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg-dark);
    font-family: 'Montserrat', sans-serif;
    color: white;
    overflow-x: hidden;
}
#hero .container {
    background: transparent;
    border: none;
    box-shadow: none;

    padding: 220px 60px 160px 60px; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    color: white;
    font-family: 'Gravitas One', sans-serif;
    font-weight: bold;
}
p {
    font-family: "Gravitas One", serif;
    color: white;
    font-weight: normal;
}

.ctm {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 15px 40px;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    width: fit-content;
    transition: 0.3s;
}
.ctm:hover {
    background: white;
    color: black;
}


#intro h2 {
    font-size: clamp(3.5rem, 8vw, 5.5rem);
    font-weight: 900;
    line-height: 0.85;
    letter-spacing: -3px;
    margin-bottom: 25px;
    text-transform: none; 
}